# .NET
backend/**/bin/
backend/**/obj/
*.user

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log*

# IDE / OS
.vs/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
Thumbs.db
